html{
    background-image: linear-gradient(white,orange);

}
body{
    width: 990px;
    margin: 15px auto  ;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    border: 2px solid black;
    background-color: white;
    
}
header{
    border-bottom: 1px solid orange;
}
header img{
    float: left;
    margin-top: 0.5px;
    padding-left: 5px;
}
header h1{
    text-shadow: 2px 2px 4px black;
}
section{
   float: left;
   width: 535px;
}
aside{
    width: 300px;
    float: right;
    border: 1px solid black;
    margin-right: 5px;
    margin-top: 5px;
    background-color: bisque;
    padding: 5px;
}
footer{
    clear: both;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0;
    border-top: 1px solid orange;
    font-weight: bold;
}
ul.circle{
    list-style-type: "#";
    margin-top: 0.25em;
   }

   ul.circle li{
    padding-left: 0.5em;
   }

ol.lower_alpha{
    list-style-type: lower-alpha;
    margin: 0.25em;
}
ol.lower_roman{
    list-style-type: lower-roman;
    margin: 0.25em;
}
ol.lower_roman li{
    padding-left: 1em;
}







